*{
    
    color: black;
}
#title{
    width: 481px;
    margin-top: 23px;
    padding-left: 18px;
}
a:hover img{
    opacity: 0.6;
}
ul{
    list-style-type: none;
    float: right;
}
ul, li{
    display: inline-block;
    text-decoration: none;
    padding: 15px 23px;
    margin-top: 13px;
}
li a:hover{
    color: grey;
}
.large{
    width: 1000px;
    padding: 10px 10px;
    margin-left: 10px;
}
.small{
    width: 100px;
    float: bottom;
}